/* Display fonts for the title screen, the Achievements Wall, signs and the
   loading screen (SIL Open Font License — see src/assets/fonts/OFL-*.txt).
   Registered under their own family names so the rest of the game's UI keeps
   its existing font stack untouched. Bundled locally: no network requests. */
@font-face {
  font-family: "MMA Display";
  src: url("../assets/fonts/lilita-one-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MMA Rounded";
  src: url("../assets/fonts/baloo-2-latin-500-normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MMA Rounded";
  src: url("../assets/fonts/baloo-2-latin-700-normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MMA Rounded";
  src: url("../assets/fonts/baloo-2-latin-800-normal.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
